

h1.noto-serif-<uniquifier> {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h2.title {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.title {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.text-1 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}
.text-2 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
}